In [38]:
from bs4 import BeautifulSoup
import requests

In [39]:
url = 'https://scraping-for-beginner.herokuapp.com/udemy'

In [40]:
r = requests.get(url)

In [41]:
soup = BeautifulSoup(r.text, 'html.parser')

In [42]:
name = soup.select('.card-title')[0].string

In [43]:
n_subscribers = soup.select('.subscribers')[0].string
n_subscribers

'受講生の数：14995'

In [44]:
# .split()で分割する
n_subscribers = n_subscribers.split('：')[1]
# string型になっているのでint型にする
int(n_subscribers)

14995

In [45]:
n_reviews = soup.select('.reviews')[0].string
n_reviews

'レビューの数：2622'

In [46]:
n_reviews = int(n_reviews.split('：')[1])
n_reviews

2622

In [47]:
results = {
  'name': name,
  'n_subscribers': n_subscribers,
  'n_reviews': n_reviews
}
results

{'name': 'いまにゅ', 'n_subscribers': '14995', 'n_reviews': 2622}

In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('assets/data.csv')

In [50]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [51]:
df.tail()

         date  subscribers  reviews
751  2021/2/5        10753     1820
752  2021/2/6        10753     1824
753  2021/2/7        10756     1824
754  2021/2/8        10776     1826
755  2021/2/9        10796     1831

In [52]:
import datetime

In [64]:
date = datetime.datetime.today().strftime('%Y/%-m/%-d')
date

'2022/2/23'

In [65]:
subscribers = results['n_subscribers']
reviews = results['n_reviews']

In [66]:
subscribers

'14995'

In [67]:
reviews

2622

In [70]:
# pd.DataFrame([[データの値]], columns=[カラム名]) データフレームを作成
results = pd.DataFrame([[date,subscribers,reviews]], columns=['date','subscribers','reviews'])

In [72]:
# データフレームを結合させる
df = pd.concat([df, results])
df.tail()

          date subscribers  reviews
752   2021/2/6       10753     1824
753   2021/2/7       10756     1824
754   2021/2/8       10776     1826
755   2021/2/9       10796     1831
0    2022/2/23       14995     2622

In [73]:
df.to_csv('assets/data.csv', index=False)

# 関数を作成する
- Udemyから 情報を持ってくる関数('get_udemy_info')
- CSVに書き込む関数('write_data)

In [74]:
def get_udemy_info():
  url = 'https://scraping-for-beginner.herokuapp.com/udemy'

  r = requests.get(url)
  soup = BeautifulSoup(r.text, 'html.parser')

  name = soup.select('.card-title')[0].string

  n_subscribers = soup.select('.subscribers')[0].string
  n_subscribers = n_subscribers.split('：')[1]

  n_reviews = soup.select('.reviews')[0].string
  n_reviews = int(n_reviews.split('：')[1])

  results = {
    'name': name,
    'n_subscribers': n_subscribers,
    'n_reviews': n_reviews
  }

  return results

{'name': 'いまにゅ', 'n_subscribers': '14995', 'n_reviews': 2622}

In [ ]:
def write_data():
  df = pd.read_csv('assets/data.csv')

  # 新規のデータ
  _results = get_udemy_info()

  # 書き込むデータ
  date = datetime.datetime.today().strftime('%Y/%-m/%-d')
  subscribers = _results['n_subscribers']
  reviews = _results['n_reviews']
  results = pd.DataFrame([[date,subscribers,reviews]], columns=['date','subscribers','reviews'])

  df = pd.concat([df, results])
  df.to_csv('assets/data.csv', index=False)